.myStyle {
  justify-content: center;
}
.table {
  min-width: 200px;
}
.label {
    padding-right:10px;
}
.myContactsMain {
    width: 220px;
    height: 250px;
    overflow: auto;
    margin: 0px 6px 6px;
}
#contactswrap div {
   margin-left:50%
}
.td {
  font-size: 4px;
}
@keyframes bounce {
  33% { transform: translateY(-20px); }
  66% { transform: translateY(0px); }
}
